.site .navbar {
    box-shadow: 2px 0px 9px 2px #b1b3b8;
    padding: 10px 20px;
    background-color: #343f46;
    z-index: 4;
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
}

.navbar .user-ciclo {
    max-width: 50px;
    border-radius: 5%;
}

.navbar .btn-menu {
    background-color: transparent;
    border: none;
    color: #e8eaee;
    font-size: 25px;
}